<br><br>
<form action="/batchupload" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload Files with Employee Details for upload</label>
    <input type="file" class="form-control-file" id="batchfileupload" name="datafile">
  </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>